body {
  background-color: #313163;
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: white;
}

#stats {
  text-align: center;
  margin: 0 auto;
}

#submit-button {
  margin: 0 auto;
}
